table td {
padding:0.5em;
}

span.blue {
color:blue;
}

span.green {
color:green;
}

span.red {
color:red;
}

span.yellow {
color:gold;
}

span.gray {
color:gray;
}




span.italic {
font-style:italic;
}

span.underline {
text-decoration:underline;
}

span.bgcolor {
background:#FFF6D0;
}

span.teletype {
font-family:monospace,arial,sans-serif;
}
#collage div.collage-item dl.portlet{
margin-bottom:2em;
margin-top:0;
}

div.legalnotice p {
font-size:100%;
}

/*
ul.submenu {
box-shadow: 1px 1px 15px 10px #FFF;
}
*/


#portal-globalnav li.selected ul.submenu {
border:none;
margin-top:0;
}

#portal-globalnav li.selected ul.submenu a  {
text-transform:none;
}

div.titlepage h1.title {
width:60%;
}

div.resourceKeywords,
div#classif,
div.dossier-related {
width:20%;
float:right;
clear:right;
padding:1%;
margin-left:1%;
background:#e2e2e2;
}

div.resourceKeywords,
div.dossier-related {
border-bottom:1px solid #a9a9a9;
}

div.authorgroup {
padding:1%;
width:70%;
border-left: 3px solid #fa8c01;
}

div.author {
margin:0;
}

div.authorgroup h3.author,div.authorgroup h3.editor,div.author, div.othercredit, div.editor,
div.author:before, div.editor:before {
color:#444445;
}

.resourceKeywords span {
display:block;
margin:0.5em 0;
}

#content .existKeyword a:link,#content .existKeyword a:visited {
background:#fa8c01;
color:#FFF;
padding:0.3em;
-webkit-border-radius:0.4em;
-moz-border-radius:0.4em;
border-radius:0.4em;
}

ul.dossier-related{
padding-left:1em;
}
ul.dossier-related li{
list-style-type:circle;
}
div.othercredit:before,
div.othercredit-before{
    color: #000000;
    content: "";
    display: block

    font-family: "Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
    font-size: 100%;
    font-weight: bold;
    padding: 0 0 3px;
}



/**Quizz***/
div.Titles{
	padding: 0.5em;;
	text-align: center;
	color: #000000;
}

button{
	font-family: Geneva,Arial,sans-serif;
	font-size: 100%;
	display: inline;
}

.ExerciseTitle{
	font-size: 140%;
	color: #000000;
}

.ExerciseSubtitle{
	font-size: 120%;
	color: #000000;
}

div.StdDiv{
	background-color: #FFFFFF;
	text-align: center;
	font-size: 100%;
	color: #000000;
	padding: 0.5em;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #000000;
	margin-bottom: 1px;
}

/* EndCorePageCSS */

.RTLText{
	text-align: right;
	font-size: 150%;
	direction: rtl;
	font-family: "Simplified Arabic", "Traditional Arabic", "Times New Roman", Geneva,Arial,sans-serif; 
}

.CentredRTLText{
	text-align: center;
	font-size: 150%;
	direction: rtl;
	font-family: "Simplified Arabic", "Traditional Arabic", "Times New Roman", Geneva,Arial,sans-serif; 
}

button p.RTLText{
	text-align: center;
}

.RTLGapBox{
	text-align: right;
	font-size: 150%;
	direction: rtl;
	font-family: "Times New Roman", Geneva,Arial,sans-serif;
}

.Guess{
	font-weight: bold;
}

.CorrectAnswer{
	font-weight: bold;
}

div#Timer{
	padding: 0.25em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #000000;
}

span#TimerText{
	padding: 0.25em;
	border-width: 1px;
	border-style: solid;
	font-weight: bold;
	display: none;
	color: #000000;
}

span.Instructions{

}

div.ExerciseText{

}

.FeedbackText, .FeedbackText span.CorrectAnswer, .FeedbackText span.Guess, .FeedbackText span.Answer{
	color: #000000;
}

.LeftItem{
	font-size: 100%;
	color: #000000;
	text-align: left;
}

.RightItem{
	font-weight: bold;
	font-size: 100%;
	color: #000000;
}

span.CorrectMark{

}

input, textarea{
	font-family: Geneva,Arial,sans-serif;
	font-size: 120%;
}

select{
	font-size: 100%;
}

div.Feedback {
	background-color: #C0C0C0;
	left: 33%;
	width: 34%;
	top: 33%;
	z-index: 1;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	text-align: center;
	color: #000000;
	position: absolute;
	display: none;
	font-size: 100%;
}




div.ExerciseDiv{
	color: #000000;
}

/* JMatch flashcard styles */
table.FlashcardTable{
	background-color: transparent;
	color: #000000;
	border-color: #000000;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2em;
	margin-bottom: 2em;
	width: 90%;
	position: relative;
	text-align: center;
	padding: 0px;
}

table.FlashcardTable tr{
	border-style: none;
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
}

table.FlashcardTable td.Showing{
	font-size: 140%;
	text-align: center;
	width: 50%;
	display: table-cell;
	padding: 2em;
	margin: 0px;
	border-style: solid;
	border-width: 1px;
	color: #000000;
	background-color: #FFFFFF;
}

table.FlashcardTable td.Hidden{
	display: none;
}

/* JMix styles */
div#SegmentDiv{
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
}

a.ExSegment{
	font-size: 120%;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

span.RemainingWordList{
	font-style: italic;
}

div.DropLine {
	position: absolute;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	width: 80%;
}

/* JCloze styles */

.ClozeWordList{
	text-align: center;
	font-weight: bold;
}

div.ClozeBody{
	text-align: left;
	margin-top: 2em;
	margin-bottom: 2em;
	line-height: 2.0
}

span.GapSpan{
	font-weight: bold;
}

/* JCross styles */

table.CrosswordGrid{
	margin: auto auto 1em auto;
	border-collapse: collapse;
	padding: 0px;
	background-color: #000000;
}

table.CrosswordGrid tbody tr td{
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	vertical-align: middle;
	font-size: 140%;
	padding: 1px;
	margin: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	color: #000000;
}

table.CrosswordGrid span{
	color: #000000;
}

table.CrosswordGrid td.BlankCell{
	background-color: #000000;
	color: #000000;
}

table.CrosswordGrid td.LetterOnlyCell{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	color: #000000;
	font-weight: bold;
}

table.CrosswordGrid td.NumLetterCell{
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	color: #000000;
	padding: 1px;
	font-weight: bold;
}

.NumLetterCellText{
	cursor: pointer;
	color: #000000;
}

.GridNum{
	vertical-align: super;
	font-size: 66%;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.GridNum:hover, .GridNum:visited{
	color: #000000;
}

table#Clues{
	margin: auto;
	vertical-align: top;
}

table#Clues td{
	vertical-align: top;
}

table.ClueList{
  margin: auto;
}

td.ClueNum{
	text-align: right;
	font-weight: bold;
	vertical-align: top;
}

td.Clue{
	text-align: left;
}

div#ClueEntry{
	text-align: left;
	margin-bottom: 1em;
}

/* Keypad styles */

div.Keypad{
	text-align: center;
	display: none; /* initially hidden, shown if needed */
	margin-bottom: 0.5em;
}

div.Keypad button{
	font-family: Geneva,Arial,sans-serif;
	font-size: 120%;
	background-color: #ffffff;
	color: #000000;
	width: 2em;
}

/* JQuiz styles */

div.QuestionNavigation{
	text-align: center;
}

.QNum{
	margin: 0em 1em 0.5em 1em;
	font-weight: bold;
	vertical-align: middle;
}

textarea{
	font-family: Geneva,Arial,sans-serif;
}

.QuestionText{
	text-align: left;
	margin: 0px;
	font-size: 100%;
}

.Answer{
	font-size: 120%;
	letter-spacing: 0.1em;
}

.PartialAnswer{
	font-size: 120%;
	letter-spacing: 0.1em;
	color: #000000;
}

.Highlight{
	color: #000000;
	background-color: #ffff00;
	font-weight: bold;
	font-size: 120%;
}

ol.QuizQuestions{
	text-align: left;
	list-style-type: none;
}

li.QuizQuestion{
	padding: 1em;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
}

ol.MCAnswers{
	text-align: left;
	list-style-type: upper-alpha;
	padding: 1em;
}

ol.MCAnswers li{
	margin-bottom: 1em;
}

ol.MSelAnswers{
	text-align: left;
	list-style-type: lower-alpha;
	padding: 1em;
}

div.ShortAnswer{
	padding: 1em;
}

.FuncButton {
	text-align: center;
	border-style: solid;

	border-left-color: #ffffff;
	border-top-color: #ffffff;
	border-right-color: #7f7f7f;
	border-bottom-color: #7f7f7f;
	color: #000000;
	background-color: #FFFFFF;

	border-width: 2px;
	padding: 3px 6px 3px 6px;
	cursor: pointer;
}

.FuncButtonUp {
	color: #FFFFFF;
	text-align: center;
	border-style: solid;

	border-left-color: #ffffff;
	border-top-color: #ffffff;
	border-right-color: #7f7f7f;
	border-bottom-color: #7f7f7f;

	background-color: #000000;
	color: #FFFFFF;
	border-width: 2px;
	padding: 3px 6px 3px 6px;
	cursor: pointer;
}

.FuncButtonDown {
	color: #FFFFFF;
	text-align: center;
	border-style: solid;

	border-left-color: #7f7f7f;
	border-top-color: #7f7f7f;
	border-right-color: #ffffff;
	border-bottom-color: #ffffff;
	background-color: #000000;
	color: #FFFFFF;

	border-width: 2px;
	padding: 3px 6px 3px 6px;
	cursor: pointer;
}

/*BeginNavBarStyle*/

div.NavButtonBar{
	background-color: #000000;
	text-align: center;
	margin: 2px 0px 2px 0px;
	clear: both;
	font-size: 100%;
}

.NavButton {
	border-style: solid;
	
	border-left-color: #7f7f7f;
	border-top-color: #7f7f7f;
	border-right-color: #000000;
	border-bottom-color: #000000;
	background-color: #000000;
	color: #ffffff;

	border-width: 2px;
	cursor: pointer;	
}

.NavButtonUp {
	border-style: solid;

	border-left-color: #7f7f7f;
	border-top-color: #7f7f7f;
	border-right-color: #000000;
	border-bottom-color: #000000;
	color: #000000;
	background-color: #ffffff;

	border-width: 2px;
	cursor: pointer;	
}

.NavButtonDown {
	border-style: solid;

	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #7f7f7f;
	border-bottom-color: #7f7f7f;
	color: #000000;
	background-color: #ffffff;

	border-width: 2px;
	cursor: pointer;	
}

/*EndNavBarStyle*/



div.CardStyle {
	position: absolute;
	font-family: Geneva,Arial,sans-serif;
	font-size: 100%;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	color: #000000;
	background-color: #FFFFFF;
	left: -50px;
	top: -50px;
	overflow: visible;
}

.rtl{
	text-align: right;
	font-size: 140%;
}
div.feedback{
display:block;
width:20%;
min-height:150px;
margin-right:1%;
padding:1%;
float:right;
clear:right;
}

/*Pour le portlet Classification
.depliable{
padding-left:18px;
padding-bottom:2px
}
a.depliable{
background:url("icone_plus.gif") no-repeat;
}
div.depliable{
background:url("icone_moins.gif") no-repeat;
}
*/

#portlet-classification dd {
padding:.2em;
}

#portlet-objects-pedagogiques dd {
padding:.2em;
}

#portlet-classification .brother {
font-weight:normal;
}

#portlet-objects-pedagogiques a.selected {
font-weight:bold;
}

div.depliable {
border-left:3px solid #FA8C01;
padding-left:0.3em; 
font-weight:bold;
}

#portlet-classification .portletItemDetails {
margin-left:1em;
padding-left:0.4em;
border-left:1px solid #FA8C01;
font-size:100%;
}

body {background:#818181;}

a:link,a:visited {
color:#fa8c01;
}
#content a:link, dl.portlet a:link,#content a:visited, dl.portlet a:visited {
color:#fa8c01;
border:none;
}

#portal-header {background:#FFF;margin-top:0.8em;}

#collage .row_1,#collage .row_2 {
background:#FFF;
}

.collage-row + .collage-row {margin-top:30px;}

#portal-logo {
margin:1.375em;
}

#portal-globalnav {
margin-bottom:0;
background:#fa8c01;
}

#portal-globalnav li.selected a {background:#fa8c01;}

li.highlight a.mainTabContent {
background:#444445!important;
}

#portal-globalnav .selected a:hover {
background:#444445;
color:#FFF;
}

#portal-globalnav li.selected ul.submenu a {
background:#444445;
color:#FFF!important;
border-color:#444445;
}

#portal-globalnav li a {
padding: 0.6em 1em;
text-transform:uppercase;
border:none;
}

#post-sections-clear {
display:none;
}

#partenaires {
float:right;
clear:right;
margin-right:0.5em;
position: absolute;
right: 10px;
top: 25px;
}

#partenaires p {
font-size:80%;
color:#828283;
}

#portal-searchbox {
position:absolute;
top:8.9em;
right:10px;
z-index:5;
margin:0 0.2em 0 0;
}

input#nolivesearchGadget {
border:none;
background:#FFF;
}

input.searchButton {
vertical-align: bottom;
}

#portal-breadcrumbs {
margin-top:1em;
color:#FFF;
}

.portletHeader {
background:#FFF;
}
.portletHeader span {
border:none;
}
.portletHeader span {
color:#000;
font-size:150%;
border-bottom:1px solid #fa8c01!important;
}

#portlet-nouveautes-du-site dd.portletItem.vignette {
display:table-cell;
width:21%;
background:none;
}

dl.portlet dt, div.portletAssignments div.portletHeader {
background:white;
}

.portletHeader a {
color:#000!important;
display:inline!important;
}

#portletwrapper-636f6c6c6167652e706f72746c65746d616e616765720a636f6e746578740a2f736974652f6163637565696c2f312f310a61636365732d646972656374 {
float:left;
width:25%;
}

#portletwrapper-636f6c6c6167652e706f72746c65746d616e616765720a636f6e746578740a2f736974652f6163637565696c2f312f310a706f72746c65742d64652d63686f69782d6465732d726573736f75726365732d6c65732d706c75732d76756573 {
float:left;
width:49%;
}

#portletwrapper-636f6c6c6167652e706f72746c65746d616e616765720a636f6e746578740a2f736974652f6163637565696c2f312f310a612d6c612d756e65 {
float:left;
width:25%;
}
#portletwrapper-636f6c6c6167652e706f72746c65746d616e616765720a636f6e746578740a2f736974652f6163637565696c2f312f310a612d6c612d756e65 dd.portletItem div.ImageBg {
width:100%;
height:160px;
display:block;
}

#portletwrapper-636f6c6c6167652e706f72746c65746d616e616765720a636f6e746578740a2f736974652f6163637565696c2f312f310a612d6c612d756e65 div.ImageBg p {
display:block;
position:relative;
top:92px;
min-height:60px;
}

#collage div.collage-item dl.portlet {
margin:1em;
}

#content li, dl.portlet li {
list-style:square;
}

#portal-column-content {
background:#FFF;
}

.section-accueil #portal-column-content {
background:none;
}

#content dd {
margin-left:0;
}

#slogan  {
left: 250px;
position: absolute;
top: 36px;
z-index: 666;
color: #828283;
font-size: 80%;
}

.portletFooter a {
background:#fa8c01;
color:#FFF!important;
-webkit-border-radius:0.4em;
-moz-border-radius:0.4em;
border-radius:0.4em;
padding:.4em .6em;
}

.row_2 dl.portlet .portletFooter {
padding:0.5em 0 0 0;
}

dl.portlet {
font-size:90%;
}

#portal-globalnav li.selected ul.submenu a:hover {
background:#000;
}
dd.portletItem div.ImageBg {
display:table-cell;
vertical-align: bottom;
}

div.ImageBg p {
background:rgba(67, 65, 66, 0.9);
color:#FFF;
font-size:102%;
font-weight:bold;
}

div.ImageBg p span {
/* display:block; */
color:#fff;
font-size:102%;
}

div.ImageBg p span span {
display:inline;
}

#content div.ImageBg .discreet {
font-size:100%;
color:#cbcbcb;
}

#content span.link-external a {
background:none;
padding:0;
}

#portal-personaltools {
z-index:6;
}

input#nolivesearchGadget {
padding-left: 0.25em;
}

#content {
margin-top:0;
}

div.c {
width:auto;
display:none;
}

#portal-columns {
background:white;
left: 1.2%;
width: 97.78%;
}
.section-accueil .collage-last-row .collage-item div.portletWrapper{
display:table-cell;
width:21%;
vertical-align:top;
}

.section-accueil #portal-columns {
background:none;
left: 0;
width: auto;
}

#content .portletCollection .portletItem {
margin:0;
padding:0.5em;
}

#content .portletNews .portletItem {
margin:0;
padding:0.5em;
}


.portletCollection img {
margin-right:0.5em;
}

div.jssort11 {
left:134px!important;
width:auto!important;
}

div[u="slides"] {
left:0!important;
}

#portal-breadcrumbs div {
display:none;
}

#liens-dgesco {
color:#c3c3c3;
float:left;
display:table-cell;
width:21%;
font-size:80%;
padding:1em;
}

#liens-dgesco img {
max-width:100%;
}

.colonne-footer {
color:#FFF;
float:left;
display:table-cell;
width:22%;
font-size:80%;
padding:1em;
}

.colonne-footer  h5 {
font-weight:normal;
color:#c3c3c3;
}

.colonne-footer li {
display:list-item;
list-style:square;
margin-left:1em;
}

.row_2 .portletHeader,.row_2 .portletFooter {
float:left;
}

.row_2 .portletItem {
clear:left;
}

#portlet-topnews .portletItem {
padding:.5em 0;
}

#content #portlet-topnews a {
display:block;
background:url(play.png) center center no-repeat transparent;
}

#content div#classif ul{
  margin-left:0;
}
#content div#classif li{
  list-style:none;
}
#content div#classif li ul.show{
  margin-left:1em;
  padding-left:0.4em;
  border-left:1px solid #FA8C01;
}

#content div#classif li a.hasChild{
  display:block;
  border-left:3px solid #FA8C01;
  padding-left:0.3em; 
font-weight:bold;
}
#content div#classif li ul.show li.currentItem{
  font-weight:bold;
  border:none;
}


/*Pour le dossiers-view*/
.template-dossiers-view h2,
.template-dossiers-view h3{
margin:0;
}

.template-dossiers-view .boite-dossier,
.template-dossiers-view .tileItem {
display:inline-block;
vertical-align:top;
width:300px;
height:225px;
}

.template-dossiers-view .boite-dossier {
-moz-background-size:cover!important;
-o-background-size:cover!important;
background-size:cover!important;
}
.template-dossiers-view .tileItem {
margin:1em;
overflow:hidden;
}

.template-dossiers-view .tileItem .tileHeadline {
background:rgba(0,0,0,0.7);
color:#FFF;
line-height:1em;
padding:0.5em;
}

.template-dossiers-view .tileItem .description {
background:rgba(255,255,255,1);
color:#000;
padding:0.2em;
-webkit-transition:opacity 1s;
-moz-transition:opacity 1s;
-o-transition:opacity 1s;
transition:opacity 1s;
opacity:0;
min-height:100%!important;
margin-top:0;
}

.template-dossiers-view .tileItem a:hover .description {
opacity:1;
}

.template-dossiers-view #dossiers-view{
margin:0 auto;
}
/*Liste des résultats de recherche*/
#search-exist .listeResults dl{
display:block;
overflow:hidden;
}

#search-exist .listeResults img[width="180px"] {
margin: 0 0.7em 0.7em 0;
max-height: 120px !important;
max-width: 120px;
width: auto !important;
}

#search-exist .listeResults #typos {
display:inline;
}

.amazingcarousel-item-bottom-shadow {
display:none!important;
}

#classif h3,.resourceKeywords h3, div#related-dossier h3 {
color:#818181;
}

.titlepage h2 {
clear:none !important;
}

/*
#portlet-nouveautes-du-site .portletHeader a:after{
content:"Plus...";
background:#fa8c01;
color:#FFF!important;
-webkit-border-radius:0.4em;
-moz-border-radius:0.4em;
border-radius:0.4em;
padding:.4em .6em;
font-size:70%;
font-weight:normal;
margin-left:0.4em;
}

#portlet-nouveautes-du-site .portletFooter {
display:none;
}
*/

#portlet-nouveautes-du-site .portletHeader .boutonPlus {
font-size:100%;
font-weight:normal;
margin-left:0.5em;
}

.portlet-static-footer-csp a {
color:#FFF !important;
}

ul.bxslider {
margin:0!important;
}

ul.bxslider li {
background-size:cover!important;
}

.bx-wrapper .bx-viewport {
box-shadow:none;
}

.bx-wrapper .bx-caption {
background:rgba(67, 65, 66, 0.9);
}

#portlet-related .portletItemDetails {
margin-left:0;
display:inline;
}

#amazingcarousel-7 .amazingcarousel-title,#amazingcarousel-7 .amazingcarousel-description {
height:auto;
}

.amazingcarousel-image a {
position:relative;
display:block;
}

#amazingcarousel-7 .amazingcarousel-description {
position:absolute;
margin:0;
top:0;
background:#FFF;
opacity:0;
height:100%;
}

#amazingcarousel-7 .amazingcarousel-item-container {
border:none;
box-shadow:none;
}

.amazingcarousel-image a:hover .amazingcarousel-description {
color:#000;
opacity:1!important;
transition: opacity 1s ease 0s;}

.carousel-bg {
background-size:cover!important;
}

dl.portlet.portletRss dd {
padding: 0.2em;
display: list-item;
list-style: square outside none;
}

dl.portlet.portletRss dd.portletFooter {
list-style:none;
}

dl.portlet.portletRss dd.portletFooter .link-external {
background:#fa8c01;
color:#FFF;
padding:0.3em;
-webkit-border-radius:0.4em;
-moz-border-radius:0.4em;
border-radius:0.4em;
}

@media only screen and (min-width : 1280px) {
body {max-width:1280px;margin:0 auto;}
}

p.goToTop{
color:#FA8C01;
}

#portlet-objects-pedagogiques.portlet{
font-size:84%;
}

a[href="http://persos.estat.com/statistiques/audience/654054168650"] > img{
visibility:hidden;
}

/*autocomplete for search engine*/
.autocomplete-w1 { background:url(img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; } 
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; } 
.autocomplete .selected { background:#F0F0F0; } 
.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden; } 
.autocomplete strong { font-weight:normal; color:#3399FF; }

.MathJax {
font-size:400% !important;
}